import(stats)
import(MASS)
import(metafor)
import(stringr)
import(grid)
import(ggplot2)
import(forestplot)
import(nleqslv)
importFrom("graphics", "lines", "par", "points")
importFrom("graphics", "abline", "axis", "legend")
importFrom("utils", "combn", "write.csv")
export(setup)
export(rdc)
export(netplot)
export(SumPMA)
export(transitivity)
export(nma)
export(nmareg)
export(nmarank)
export(nmaforest)
export(nmafunnel)
export(obj.forest)
export(nmaleague)
export(global.ict)
export(local.ict)
export(sidesplit)
export(nmaweight)
export(nmaQ)
export(random.icm)
export(trans.armdata)
export(trans.armdataP)
