import(stats)
import(MASS)
import(metafor)
import(stringr)
import(grid)
import(forestplot)
importFrom("graphics", "lines", "par", "points")
importFrom("utils", "combn", "write.csv")
export(setup)
export(rdc)
export(netplot)
export(pairwise)
export(nma)
export(nmarank)
export(nmaforest)
export(obj.forest)
export(nmaleague)
export(global.ict)
export(local.ict)
export(sidesplit)
