import(stats)
import(MASS)
import(metafor)
import(stringr)
import(grid)
import(ggplot2)
import(forestplot)
import(nleqslv)
importFrom("graphics", "lines", "par", "points")
importFrom("graphics", "abline", "axis", "legend")
importFrom("utils", "combn", "write.csv")
export(setup)
export(rdc)
export(netplot)
export(SumPMA)
export(transitivity)
export(nma)
export(nmareg)
export(nmarank)
export(nmaforest)
export(nmafunnel)
export(obj.forest)
export(nmaleague)
export(global.ict)
export(local.ict)
export(sidesplit)
export(nmaweight)
export(nmaQ)
export(random.icm)
export(trans.armdata)
export(trans.armdataP)
S3method(print, SumPMA)
S3method(print, nma)
S3method(print, nmareg)
S3method(print, nmarank)
S3method(print, nmaleague)
S3method(print, nmafunnel)
S3method(print, local.ict)
S3method(print, global.ict)
S3method(print, nmaQ)
S3method(print, sidesplit)
S3method(print, nmaweight)
S3method(print, transitivity)
S3method(print, random.icm)
